# Ignore everything in the site except the "wp-content" directory.
# also include map in the repo
/app/*
!.gitignore
!map/
!app/wp-content/

# Ignore everything in wp-content except themes and plugins
app/wp-content/*
app/wp-content/plugins/index.php
!app/wp-content/plugins/
!app/wp-content/themes/

# Ignore everything in the "themes" directory, except the custom theme
app/wp-content/themes/*
!app/wp-content/themes/northstar/

# Ignore specific files
*~
/.idea
/.nova
.env
.htaccess
.well-known
.DS_Store*
._*
.Trashes
ehthumbs.db
Thumbs.db
*.log
*.sql
*.sqlite
*.com
*.class
*.dll
*.exe
*.o
*.so
*.swp
*.swo
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
