/* ---------------------------------------------------------------------
 Fonts
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
 RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote {
    quotes: none;
}

blockquote:before,
blockquote:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

img, audio, canvas, video, picture, iframe, embed {
    max-width: 100% !important;
    height: auto;
}

/* ---------------------------------------------------------------------
 HTML5 Elements
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}

audio, canvas, video, progress, picture {
    display: inline-block;
}

template {
    display: none;
}

/* ---------------------------------------------------------------------
 Variables
------------------------------------------------------------------------ */
:root {
    --color-transparent: rgba(0,0,0,0);
    --color-white: #ffffff;
    --color-gray: #e9e9e9;
    --color-charcoal: #a8a8a8;
    --color-black: #000000;
    --color-brand-offwhite: #f5f6f1;
    --color-brand-shadow: #3a393e;
    --color-brand-crimson: #ef4336;
    --color-brand-crimson-hover: #e73d2e;
    --fontFamily-sans: "Montserrat", Helvetica, Arial, sans-serif;
    --fontFamily-serif: Georgia, Times, Times New Roman, serif;
    --fontSize-xxs: 13px;
    --fontSize-xs: 14px;
    --fontSize-sm: 16px;
    --fontSize-md: 18px;
    --fontSize-lg: 21px;
    --fontSize-xl: 24px;
    --fontSize-xxl: 32px;
    --lineHeight-one: 1;
    --lineHeight-std: 1.5;
}

/* ---------------------------------------------------------------------
 Base Styles
------------------------------------------------------------------------ */
html {
    background-color: var(--color-gray);
}

body {
    min-height: 100vh;
    background-color: var(--color-brand-offwhite);
    color: var(--color-brand-shadow);
    font-family: var(--fontFamily-sans);
    font-size: var(--fontSize-md);
    line-height: var(--lineHeight-std);
    font-style: normal;
    font-weight: normal;
    overflow-y: scroll;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    cursor: pointer;
    -webkit-tap-highlight-color: var(--color-transparent);
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
}

/* ---------------------------------------------------------------------
 Helper - isVisuallyHidden
------------------------------------------------------------------------ */
.isVisuallyHidden {
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0, 0, 0, 0) !important;
    clip-path: inset(100%)!important;
    overflow: hidden !important;
    position: absolute !important;
    white-space: nowrap !important;
}

/* ---------------------------------------------------------------------
 Helper - Display Types
------------------------------------------------------------------------ */
.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.d-inline {
    display: inline;
}

/* ---------------------------------------------------------------------
 Landmark - Masthead
------------------------------------------------------------------------ */
.masthead__brand {
    text-align: center;
    padding: 40px 0 15px 0;
}

.masthead__nav {
    padding-bottom: 20px;
}

@media (min-width: 860px) {
    .masthead {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0 40px 0;
    }

    .masthead__brand {
        text-align: initial;
        padding: 10px 0 0 0;
    }

    .masthead__nav {
        padding-bottom: 0;
    }
}

/* ---------------------------------------------------------------------
 Landmark - Navigation
------------------------------------------------------------------------ */
.nav__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
}

.nav a {
    display: inline-block;
    padding: 10px 8px; /* increase tap target size */
    font-size: var(--fontSize-sm);
    font-weight: 600;
    text-transform: uppercase;
    transition: color 120ms linear;
}

.nav__list li.current_page_item a {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
}

.nav a:hover,
.nav a:focus {
    color: var(--color-brand-crimson);
}

@media (min-width: 860px) {
    .nav__list {
        display: initial;
    }

    .nav__list > li {
        display: inline-block;
        padding-left: 20px;
    }

    .nav a {
        padding: 0;
    }
}

/* ---------------------------------------------------------------------
 Landmark - Main
------------------------------------------------------------------------ */
.main {
    margin-bottom: 60px;
}

/* ---------------------------------------------------------------------
 Landmark - Footer
------------------------------------------------------------------------ */
.footer {
    padding-bottom: 20px;
}

.footer__note {
    text-align: center;
    font-size: var(--fontSize-xs);
    margin-bottom: 20px;
}

.footer__note span {
    display: inline;
}

.footer__links {
    text-align: center;
    font-size: var(--fontSize-xs);
}

.footer__links a {
    transition: color 120ms linear;
}

.footer__links a:hover,
.footer__links a:focus {
    color: var(--color-brand-crimson);
}

@media (min-width: 640px) {
    .footer__note {
        text-align: initial;
        margin-bottom: 15px;
    }

    .footer__links {
        text-align: initial;
    }

    .footer__links__list > li {
        display: inline-block;
        padding-right: 20px;
    }
}

@media (min-width: 960px) {
    .footer__note span {
        display: block;
    }
}

/* ---------------------------------------------------------------------
 Layout - Wrapper
------------------------------------------------------------------------ */
.wrapper {
    box-sizing: border-box;
    min-width: 320px;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 20px;
}

@media (min-width: 640px) {
    .wrapper {
        max-width: 720px;
    }
}

@media (min-width: 860px) {
    .wrapper {
        max-width: 1040px;
    }
}

/* ---------------------------------------------------------------------
 Layout - Section
------------------------------------------------------------------------ */
.section:not(:last-child) {
    margin-bottom: 50px;
}

/* ---------------------------------------------------------------------
 Component - Media Frame (for maps, typeform, etc
------------------------------------------------------------------------ */
.mediaFrame {
    /* border: 1px solid var(--color-gray); */
    /* background-color: var(--color-white); */
    /* box-shadow: 3px 5px 8px 0px rgba(0,0,0,0.2); */
}

/* ---------------------------------------------------------------------
 Component - Feature
------------------------------------------------------------------------ */
.feature {
    text-align: center;
}

.feature--snowflake {
    text-align: initial; /* never center */
}

.feature__hd {
    margin-bottom: 15px;
}

.feature__ft {
    margin-top: 40px;
}

@media (min-width: 640px) {
    .feature {
        text-align: initial;
    }
}

@media (min-width: 860px) {
    .feature--snowflake {
        padding: 0 40px; /* inset on desktop */
    }
}

/* ---------------------------------------------------------------------
 Component - Card
------------------------------------------------------------------------ */
.card {
    padding: 15px 15px 10px 15px;
    border-radius: 5px;
    border: 1px solid var(--color-gray);
    background-color: var(--color-white);
    box-shadow: 3px 5px 8px 0px rgba(0,0,0,0.15);
    transition: transform 100ms ease-in-out, box-shadow 100ms ease-in-out;
    will-change: transform;
}

.card__media {
    padding-bottom: 15px;
}

.card__meta {
    font-size: var(--fontSize-xs);
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 3px 5px 15px 0px rgba(0,0,0,0.1);
}

/* ---------------------------------------------------------------------
 Component - Billboard
------------------------------------------------------------------------ */
.billboard {

}

/* ---------------------------------------------------------------------
 Component - Blocks
------------------------------------------------------------------------ */
.blocks > *:not(:last-child) {
    padding-bottom: 20px;
}

@media (min-width: 640px) {
    .blocks {
        font-size: 0;
        margin: -20px 0 0 -20px; /* offset children */
    }

    .blocks > * {
        box-sizing: border-box;
        display: inline-block;
        padding-bottom: 0 !important; /* override small screen rule specificity */
        padding: 20px 0 0 20px;
        width: 50%;
        vertical-align: top;
    }
}

@media (min-width: 860px) {
    .blocks > * {
        width: 33.333333%;
    }
}

/* ---------------------------------------------------------------------
 Component - Pagination
------------------------------------------------------------------------ */
.pagination {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;
}

.pagination > * + * {
    margin-left: 15px;
}

/* ---------------------------------------------------------------------
 Component - Logo List
------------------------------------------------------------------------ */
.logoList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.logoList__item {
    flex-basis: 100%;
    font-size: 1px; /* prevents extra whitespace between visual elements */
}

.logoList__item {
    margin-bottom: 30px;
}

.logoList__item a {
    display: inline-block;
    max-width: 150px;
}

.logoList__item img {
    display: block;
    transition: transform 100ms ease-in-out;
}

.logoList__item a:hover img,
.logoList__item a:focus img {
    transform: scale(1.08);
}

@media (min-width: 640px) {
    .logoList {
        justify-content: space-between;
    }

    .logoList__item a {
        max-width: 140px;
    }

    .logoList__item--lg {
        flex-basis: 30%;
    }

    .logoList__item--sm {
        flex-basis: 25%;
    }

    .logoList__item--xs {
        flex-basis: 15%;
    }
}

@media (min-width: 860px) {
    .logoList__item a {
        max-width: 180px;
    }

    .logoList__item--sm,
    .logoList__item--xs {
        flex-basis: 20%;
    }
}

/* ---------------------------------------------------------------------
 Forms - Button
 - .gform_button added for gravity forms
------------------------------------------------------------------------ */
.btn,
.gform_button {
    display: inline-block;
    margin: 0;
    border: 0;
    padding: 15px 20px;
    border-radius: 3px;
    box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.2);
    background-color: var(--color-brand-crimson);
    color: var(--color-white);
    font-family: inherit;
    font-size: var(--fontSize-md);
    line-height: var(--lineHeight-one);
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    transition: all 80ms ease-in-out;
}

.btn--fixedSize {
    padding-left: 0;
    padding-right: 0;
    width: 140px;
}

.btn:hover,
.gform_button:hover {
    background-color: var(--color-brand-crimson-hover);
}

/* ---------------------------------------------------------------------
 Content - Logo
------------------------------------------------------------------------ */
.logo {
    display: inline-block;
    max-width: 300px;
}

/* ---------------------------------------------------------------------
 Content - Video
------------------------------------------------------------------------ */
.video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ---------------------------------------------------------------------
 Content - Text
------------------------------------------------------------------------ */
.txt {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: var(--lineHeight-std);
    font-style: normal;
    font-weight: normal;
    text-transform: inherit;
}

.txt--hdg1 {}
.txt--hdg2 { font-size: var(--fontSize-xl); }
.txt--hdg3 { font-size: var(--fontSize-lg); }
.txt--hdg4 { font-size: var(--fontSize-md); }
.txt--hdg5 { font-size: var(--fontSize-sm); }

/* Mix'n'Match */
.txt--color-white { color: var(--color-white); }
.txt--color-black { color: var(--color-black); }
.txt--color-offwhite { color: var(--color-brand-offwhite); }
.txt--color-shadow { color: var(--color-brand-shadow); }
.txt--color-crimson { color: var(--color-brand-crimson); }

.txt--family-serif { font-family: var(--fontFamily-serif); }
.txt--family-sans { font-family: var(--fontFamily-sans); }

.txt--size-xxs { font-size: var(--fontSize-xxs); }
.txt--size-xs { font-size: var(--fontSize-xs); }
.txt--size-sm { font-size: var(--fontSize-sm); }
.txt--size-md { font-size: var(--fontSize-md); }
.txt--size-lg { font-size: var(--fontSize-lg); }
.txt--size-xl { font-size: var(--fontSize-xl); }

.txt--lh-one { line-height: var(--lineHeight-one); }
.txt--lh-std { line-height: var(--lineHeight-std); }

.txt--underline { text-decoration: underline; }
.txt--bold { font-weight: 600; }
.txt--italic { font-style: italic; }
.txt--center { text-align: center; }
.txt--upper { text-transform: uppercase; }

.txt--truncated {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.txt--hasEms em {
    color: var(--color-brand-crimson);
    font-weight: 600;
    text-transform: uppercase;
}

/* ---------------------------------------------------------------------
 Novo Map
------------------------------------------------------------------------ */
.infobox {
    position: relative; /* set to absolute eventually by the javascript */
    width: 150px !important;
    min-height: 150px;
    max-width: 80% !important;
    overflow-y: auto;
    padding: 10px 10px 8px 10px;
    border-radius: 5px;
    border: 1px solid var(--color-gray);
    background-color: var(--color-white);
    box-shadow: 3px 5px 8px 0px rgba(0,0,0,0.2);
}

.infobox__close {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    background-color: var(--color-white);
}

.infobox__close__img {
    display: block;
    cursor: pointer;
}

.infobox__content__media {
    margin-bottom: 5px;
}

/* ---------------------------------------------------------------------
 User Content
 quarantine.css | MIT License | github.com/apticknor/quarantine.css

 Handle area of unknown content
------------------------------------------------------------------------ */

/* Always clear unknown content as it may contain a float */
.userContent:before,
.userContent:after {
    content: " ";
    display: table;
}

.userContent:after {
    clear: both;
}

/* Baseline */
.userContent {
    color: var(--color-brand-shadow);
    font-family: var(--fontFamily-sans);
    font-weight: normal;
    font-synthesis: initial;
    font-size: var(--fontSize-md);
    line-height: var(--lineHeight-std);
    -ms-word-wrap: break-word;
        word-wrap: break-word;
}

.userContent > *:first-child {
    margin-top: 0 !important;
}

.userContent > *:last-child {
    margin-bottom: 0 !important;
}

/* Embedded Content & Media */
.userContent img,
.userContent iframe,
.userContent embed,
.userContent object,
.userContent video,
.userContent audio,
.userContent canvas,
.userContent picture {
    max-width: 100% !important;
}

.userContent > img,
.userContent > iframe,
.userContent > embed,
.userContent > object,
.userContent > video,
.userContent > audio,
.userContent > canvas,
.userContent > picture {
    display: inline-block;
    margin-bottom: 1rem;
}

/* Anchors */
.userContent a:link {
    color: var(--color-brand-shadow);
    text-decoration: underline;
    transition: color 120ms linear;
}

.userContent a:visited {

}

.userContent a:focus,
.userContent a:hover {
    color: var(--color-brand-crimson);
    text-decoration: underline;
}

.userContent a:active {

}

/* Paragraphs */
.userContent p {
    margin-bottom: var(--fontSize-md);
}

/* Headings */
.userContent h1,
.userContent h2,
.userContent h3,
.userContent h4,
.userContent h5,
.userContent h6 {
    margin-top: 1.7rem;
    margin-bottom: 1rem;
    font-family: inherit;
    font-weight: bold;
    line-height: 1.2;
}

.userContent h1 {
    font-size: var(--fontSize-xxl);
}

.userContent h2 {
    font-size: var(--fontSize-xl);
}

.userContent h3 {
    font-size: var(--fontSize-lg);
}

.userContent h4,
.userContent h5,
.userContent h6 {
    font-size: var(--fontSize-md);
}

.userContent h1 a,
.userContent h2 a,
.userContent h3 a,
.userContent h4 a,
.userContent h5 a,
.userContent h6 a {
    color: inherit !important;
}

/* Blockquote */
.userContent blockquote {
    box-sizing: border-box;
    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
    border-left: 5px solid;
    padding: 1rem 2rem;
    font-family: var(--fontFamily-serif);
    font-size: var(--font-size-lg);
    font-style: italic;
}

.userContent blockquote > *:last-child {
    margin-bottom: 0;
}

/* Address */
.userContent address {
    margin-bottom: 1rem;
    font-style: italic;
}

/* Horizontal Rule */
.userContent hr {
    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
    height: 1px;
    border: none;
    background: var(--color-brand-shadow);
    color: var(--color-brand-shadow);
    line-height: 1px;
    font-size: 1px;
}

/* Inline Text */
.userContent strong,
.userContent b {
    font-weight: bold;
}

.userContent em,
.userContent i {
    font-style: italic;
}

.userContent del,
.userContent strike,
.userContent s {
    text-decoration: line-through;
}

.userContent u,
.userContent ins {
    text-decoration: underline;
}

.userContent sup {
    vertical-align: super;
    font-size: smaller;
}

.userContent sub {
    vertical-align: sub;
    font-size: smaller;
}

.userContent big {
    font-size: larger;
}

.userContent small {
    font-size: smaller;
}

.userContent abbr,
.userContent acronym {
    border-bottom: 1px dotted;
    text-decoration: none;
}

.userContent cite,
.userContent dfn {
    font-style: italic;
}

.userContent q {
    font-style: italic;
}

.userContent q::before {
    content: open-quote;
}

.userContent q::after {
    content: close-quote;
}

.userContent q:lang(en) {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

.userContent bdo,
.userContent bdi {
    direction: rtl;
}

.userContent blink {
    text-decoration: blink;
}

/* Lists */
.userContent ul,
.userContent ol,
.userContent dl {
    margin-bottom: 1rem;
}

.userContent ul {
    list-style-type: disc;
}

.userContent ol {
    list-style-type: decimal;
}

.userContent dt {
    font-weight: bold;
}

.userContent li,
.userContent dd {
    margin-left: 1.7rem;
}

/* 2 */
.userContent ul ul,
.userContent ul ol,
.userContent ul dl,
.userContent ol ul,
.userContent ol ol,
.userContent ol dl,
.userContent dl ul,
.userContent dl ol,
.userContent dl dl {
    margin-bottom: 0;
}

/* 3 */
.userContent ol ul,
.userContent ul ul {
    list-style-type: circle;
}

/* 4 */
.userContent ol ol ul,
.userContent ol ul ul,
.userContent ul ol ul,
.userContent ul ul ul {
    list-style-type: square;
}


/* Tables */
.userContent table {
    width: 100% !important;
    margin-bottom: 1.7rem;
    border-spacing: 0;
    border-collapse: collapse;
}

.userContent caption {
    font-size: smaller;
    padding: 10px 12px;
    text-align: center;
}

.userContent tr {
    vertical-align: middle;
}

.userContent tbody {
    vertical-align: middle;
}

.userContent thead {
    vertical-align: middle;
}

.userContent tfoot {
    vertical-align: middle;
}

.userContent td {
    vertical-align: inherit;
    text-align: left;
    padding: 4px 12px;
    border: 1px solid var(--color-brand-shadow);
}

.userContent th {
    vertical-align: inherit;
    text-align: left;
    font-weight: bold;
    padding: 8px 12px;
    border: 1px solid var(--color-brand-shadow);
    background-color: transparent;
}

/* Computer Output */
.userContent pre {
    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
    padding: 2rem;
    border: 1px solid var(--color-brand-shadow);
    background-color: var(--color-white);
    font-family: "Lucida Console", Monaco, monospace;
    font-size: var(--fontSize-sm);
    border-radius: 2px;
    white-space: pre-wrap;
    word-break: break-all;
}

.userContent code {
    display: inline-block;
    padding: 2px 6px;
    border: 1px solid var(--color-brand-shadow);
    background-color: var(--color-white);
    color: var(--color-brand-shadow);
    font-size: var(--fontSize-sm);
    border-radius: 2px;
}

.userContent pre code {
    display: block;
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: inherit;
    color: inherit;
    border-radius: 0;
}

.userContent code,
.userContent samp,
.userContent tt,
.userContent kbd,
.userContent var {
    font-family: "Lucida Console", Monaco, monospace;
}

.userContent var {
    font-style: italic;
}

/* ---------------------------------------------------------------------
 Override - Gravity Forms
------------------------------------------------------------------------ */
.gform_title {
    display: none !important;
}




