/* ---------------------------------------------------------------------
 Fonts
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
 RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote {
    quotes: none;
}

blockquote:before,
blockquote:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

img, audio, canvas, video, picture, iframe, embed {
    max-width: 100% !important;
    height: auto;
}

/* ---------------------------------------------------------------------
 HTML5 Elements
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}

audio, canvas, video, progress, picture {
    display: inline-block;
}

template {
    display: none;
}

/* ---------------------------------------------------------------------
 Variables
------------------------------------------------------------------------ */
:root {
    --color-transparent: rgba(0,0,0,0);
    --color-white: #ffffff;
    --color-gray: #e9e9e9;
    --color-charcoal: #a8a8a8;
    --color-black: #000000;
    --color-brand-offwhite: #f5f6f1;
    --color-brand-shadow: #3a393e;
    --color-brand-crimson: #df4e42;
    --fontFamily-sans: "Montserrat", Helvetica, Arial, sans-serif;
    --fontFamily-serif: Georgia, Times, Times New Roman, serif;
    --fontSize-xs: 14px;
    --fontSize-sm: 16px;
    --fontSize-md: 18px;
    --fontSize-lg: 21px;
    --fontSize-xl: 24px;
    --lineHeight-one: 1;
    --lineHeight-std: 1.5;
}

/* ---------------------------------------------------------------------
 Base Styles
------------------------------------------------------------------------ */
html {
    background-color: var(--color-gray);
}

body {
    min-height: 100vh;
    background-color: var(--color-brand-offwhite);
    color: var(--color-brand-shadow);
    font-family: var(--fontFamily-sans);
    font-size: var(--fontSize-md);
    line-height: var(--lineHeight-std);
    font-style: normal;
    font-weight: normal;
    overflow-y: scroll;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    -webkit-tap-highlight-color: var(--color-transparent);
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
}

/* ---------------------------------------------------------------------
 Helper - isVisuallyHidden
------------------------------------------------------------------------ */
.isVisuallyHidden {
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0, 0, 0, 0) !important;
    clip-path: inset(100%)!important;
    overflow: hidden !important;
    position: absolute !important;
    white-space: nowrap !important;
}

/* ---------------------------------------------------------------------
 Helper - Display Types
------------------------------------------------------------------------ */
.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.d-inline {
    display: inline;
}

.d-inline-then-block {
    display: inline;
}

@media (min-width: 960px) {
    .d-inline-then-block {
        display: block;
    }
}

/* ---------------------------------------------------------------------
 Landmark - Masthead
------------------------------------------------------------------------ */
.masthead__brand {
    text-align: center;
    padding: 40px 0 15px 0;
}

.masthead__nav {
    padding-bottom: 20px;
}

@media (min-width: 860px) {
    .masthead {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0 40px 0;
    }

    .masthead__brand {
        text-align: initial;
        padding: 10px 0 0 0;
    }

    .masthead__nav {
        padding-bottom: 0;
    }
}

/* ---------------------------------------------------------------------
 Landmark - Navigation
------------------------------------------------------------------------ */
.nav__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
}

.nav a {
    display: inline-block;
    padding: 10px 8px; /* increase tap target size */
    font-size: var(--fontSize-sm);
    font-weight: 600;
    text-transform: uppercase;
    transition: color 120ms linear;
}

.nav a:hover,
.nav a:focus {
    color: var(--color-brand-crimson);
}

@media (min-width: 860px) {
    .nav__list {
        display: initial;
    }

    .nav__list > li {
        display: inline-block;
        padding-left: 20px;
    }

    .nav a {
        padding: 0;
    }
}

/* ---------------------------------------------------------------------
 Landmark - Main
------------------------------------------------------------------------ */
.main {
    margin-bottom: 60px;
}

/* ---------------------------------------------------------------------
 Landmark - Footer
------------------------------------------------------------------------ */
.footer {
    padding-bottom: 20px;
}

.footer__note {
    text-align: center;
    font-size: var(--fontSize-xs);
}

@media (min-width: 640px) {
    .footer__note {
        text-align: initial;
    }
}

/* ---------------------------------------------------------------------
 Layout - Wrapper
------------------------------------------------------------------------ */
.wrapper {
    box-sizing: border-box;
    min-width: 320px;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 20px;
}

@media (min-width: 640px) {
    .wrapper {
        max-width: 720px;
    }
}

@media (min-width: 860px) {
    .wrapper {
        max-width: 1040px;
    }
}

/* ---------------------------------------------------------------------
 Layout - Section
------------------------------------------------------------------------ */
.section:not(:last-child) {
    margin-bottom: 50px;
}

/* ---------------------------------------------------------------------
 Component - Map
------------------------------------------------------------------------ */
.map {
    border: 1px solid var(--color-gray);
    background-color: var(--color-white);
    box-shadow: 3px 5px 8px 0px rgba(0,0,0,0.2);
}

/* ---------------------------------------------------------------------
 Component - Feature
------------------------------------------------------------------------ */
.feature {
    text-align: center;
}

.feature--never-center {
    text-align: initial;
}

.feature__hd {
    margin-bottom: 15px;
}

@media (min-width: 640px) {
    .feature {
        text-align: initial;
    }
}

/* ---------------------------------------------------------------------
 Component - Card
------------------------------------------------------------------------ */
.card {
    padding: 15px 15px 10px 15px;
    border-radius: 5px;
    border: 1px solid var(--color-gray);
    background-color: var(--color-white);
    box-shadow: 3px 5px 8px 0px rgba(0,0,0,0.2);
    transition: transform 80ms ease-in-out;
    will-change: transform;
}

.card__media {
    padding-bottom: 15px;
}

.card__meta {
    font-size: var(--fontSize-xs);
}

.card:hover {
    transform: scale(1.05);
}

/* ---------------------------------------------------------------------
 Component - Billboard
------------------------------------------------------------------------ */
.billboard {
    border-radius: 15px 15px 0 0;
    border: 1px solid var(--color-gray);
    background-color: var(--color-white);
    box-shadow: inset 0px 5px 8px 0px rgba(0,0,0,0.2);
}

.billboard__hd {
    padding: 20px 25px 15px 25px;
}

/* ---------------------------------------------------------------------
 Component - Blocks
------------------------------------------------------------------------ */
.blocks > * {
    padding-bottom: 20px;
}

@media (min-width: 640px) {
    .blocks {
        font-size: 0;
        margin: -20px 0 0 -20px; /* offset children */
    }

    .blocks > * {
        box-sizing: border-box;
        display: inline-block;
        padding: 20px 0 0 20px;
        width: 50%;
        vertical-align: top;
    }
}

@media (min-width: 860px) {
    .blocks > * {
        width: 33.333333%;
    }
}

/* ---------------------------------------------------------------------
 Component - Logo List
------------------------------------------------------------------------ */
.logoList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.logoList__item {
    flex-basis: 100%;
    font-size: 1px; /* prevents extra whitespace between visual elements */
}

.logoList__item {
    margin-bottom: 30px;
}

.logoList__item a {
    display: inline-block;
    max-width: 150px;
}

.logoList__item img {
    display: block;
}

@media (min-width: 640px) {
    .logoList {
        justify-content: space-between;
    }

    .logoList__item a {
        max-width: 140px;
    }

    .logoList__item--lg {
        flex-basis: 30%;
    }

    .logoList__item--sm {
        flex-basis: 25%;
    }

    .logoList__item--xs {
        flex-basis: 15%;
    }
}

@media (min-width: 860px) {
    .logoList__item a {
        max-width: 180px;
    }

    .logoList__item--sm,
    .logoList__item--xs {
        flex-basis: 20%;
    }
}

/* ---------------------------------------------------------------------
 Content - Logo
------------------------------------------------------------------------ */
.logo {
    display: inline-block;
    max-width: 300px;
}

/* ---------------------------------------------------------------------
 Content - Video
------------------------------------------------------------------------ */
.video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ---------------------------------------------------------------------
 Content - Text
------------------------------------------------------------------------ */
.txt {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: var(--lineHeight-std);
    font-style: normal;
    font-weight: normal;
    text-transform: inherit;
}

.txt--hdg1 {}
.txt--hdg2 { font-size: var(--fontSize-xl); }
.txt--hdg3 { font-size: var(--fontSize-lg); }
.txt--hdg4 { font-size: var(--fontSize-md); }
.txt--hdg5 { font-size: var(--fontSize-sm); }

/* Mix'n'Match */
.txt--color-white { color: var(--color-white); }
.txt--color-black { color: var(--color-black); }
.txt--color-offwhite { color: var(--color-brand-offwhite); }
.txt--color-shadow { color: var(--color-brand-shadow); }
.txt--color-crimson { color: var(--color-brand-crimson); }

.txt--family-serif { font-family: var(--fontFamily-serif); }
.txt--family-sans { font-family: var(--fontFamily-sans); }

.txt--size-xs { font-size: var(--fontSize-xs); }
.txt--size-sm { font-size: var(--fontSize-sm); }
.txt--size-md { font-size: var(--fontSize-md); }
.txt--size-lg { font-size: var(--fontSize-lg); }
.txt--size-xl { font-size: var(--fontSize-xl); }

.txt--lh-one { line-height: var(--lineHeight-one); }
.txt--lh-std { line-height: var(--lineHeight-std); }

.txt--underline { text-decoration: underline; }
.txt--bold { font-weight: 600; }
.txt--italic { font-style: italic; }
.txt--center { text-align: center; }
.txt--upper { text-transform: uppercase; }

.txt--truncated {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.txt--hasEms em {
    color: var(--color-brand-crimson);
    font-weight: 600;
    text-transform: uppercase;
}
